.tracker-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  align-content: space-evenly;
  gap: 20px;
  letter-spacing: 1.2px;
  padding: 10px;
  h2 {
    border: none;
    padding: 0;
  }
}

.tracker-card {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  background: #fff;
  border-radius: 20px;
  border: 1px solid #e8edf8;
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}
