.App{
margin: 100px 100px 100px 100px;
display: flex;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
border: solid 2px rgba(0, 0, 0, 0.14);
border-radius: 10px;
width: 70vw;
height: auto;
padding: 50px;
}

nav{
    margin-right: 3vw;
    width: 20%;
    background-color: #6C835E;
    border-right: 1px solid #6C835E;
    display: inline-grid;
    align-content: center;
    text-align: center;
    font-size: 2rem;
            a{
                text-decoration: none;
                color: #fefefe;
                padding: 20px;
                transition: background-color 0.3s ease;
                height: 20px;
            }
    
}
body{
    background-color:#FDFFFC;
}